div{
    color: black;
    font-size: 16px;
}
button{
    border-radius: 12px;
    padding: 25px 35px;
    background-color: #488aff;
    color: #fff;
    font-size: 16px;
    font-weight:bolder;
    line-height: 5px;
    height: 40px;
  }

  .uneditable-input:focus {   
    border-color: #0c6aff;
    /*box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);*/
    outline: 0 none;
  }

  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color:#999;
    opacity: 1; /* Firefox */
  }

  .red{
    border: 1px solid red;
}
.green{
    border: 1px solid #32db64;
}
