
<div class="row">
  <div class="col-md-12">
    <div class="container">
      <form [formGroup]="signinForm">
          <br>
          <div class="form-group">
            <input formControlName = "usuario" name="Nombre" type="email" class="form-control uneditable-input" id="usuario" aria-describedby="emailHelp" placeholder="Usuario o Correo Electronico">
          </div>
          <br>
          <div class="form-group">
            <input formControlName = "password"  name="password" type="password" class="form-control uneditable-input" id="exampleInputPassword1" placeholder="Contraseña">
          </div>
          <div id="emailHelp" class="form-text text-muted">¿Olvidaste tu contraseña?</div>
          <br>
          <br>
          <br>
          <br>
          <button style="width: 100%" type="submit" class="btn btn-primary" (click)="iniciarSesion()">Iniciar Sesion</button>
          <div id="emailHelp" class="form-text text-muted">¿Aun no tienes cuenta? <a routerLink="/signup">Regístrate Aquí</a></div>
        </form>
    </div>
  </div>

</div>
