<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center;">
    <div class="row">
    <div id="header" class="col-md-12">
        <div class="row">
          <div class="col-md-4">

          </div>  
          <div class="col-md-4">
            <br>
            <br> 
            <img src="../assets/images/citywallet-logo.png" width="100" height="94" >
             <br>
             <br> 
             <br>
          </div>
          <div class="col-md-4">             
          </div>
        </div>
    </div>
    </div>
    <div class="row">
        <div class="col-md-4">
      
        </div>
        <!--
        <div class="col-md-4" style="color:azure">
            <a routerLink="home" routerLinkActive="active">
            Home
            </a>

            <a routerLink="signup" routerLinkActive="active">
            Registrase
            </a>

            <a routerLink="login" routerLinkActive="active">
            Iniciar Sesion
            </a>
        </div>
        -->
        <div class="col-md-4">
      
        </div>
        </div>  
  <router-outlet></router-outlet>
</div>



